body{overflow-x: hidden;}
ul,li{list-style: none;padding: 0;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{width: 100%;}

.wrapper{padding-top:50px}
.container,.row{max-width: 960px;margin: 0 auto;padding: 0;}
/*导航*/
nav .container-fluid{max-width: 960px;margin: 0 auto;}
.dropdown .dropdown-menu li a{height: 38px;line-height: 38px;border-bottom: 1px solid #ccc;}
.dropdown-menu{padding: 0;}
/*LOGO*/
.logo{padding: 0;}
.logo-box{width: 140px;background:-webkit-linear-gradient(left,#1c1a4c,#3177b9);}
.logo span{display: block;color: #fff;}
.logo1{background: #fff;padding: 25px 10px;border-bottom-right-radius: 40px;}
.logo2{height: 0;background:-webkit-linear-gradient(left,#1c368c,#3177b9);line-height: 50px;padding-left: 10px;overflow: hidden;}
.logo3{height: 50px;background: -webkit-linear-gradient(left,#1c1a4c,#3177b9);line-height: 50px;padding-left: 10px}
/*移动端LOGO*/
.logo-m{width: 100px;margin: 15px 0 0 10px;}

/*主题一*/
.theme1{background: url(../img/ultrasound-l.jpg) no-repeat;padding-top:6%;padding-bottom: 10%;background-size: cover;min-width: 960px;margin: 0 auto;}
.theme1-text{max-width:960px;margin: 0 auto;}
.theme1-text h2{font-size: 42px;font-weight: bold;}
.theme1-text p{font-size: 18px;width: 380px;line-height: 1.5;}
.more a{display: block;border-radius: 5px;padding: 8px 15px;background: #1B6D85;width: 120px;text-align: center;color: #fff;}
/*主题一移动端*/
.theme1-m .theme1-text{max-width:960px;margin: 0 auto;}
.theme1-m .theme1-text h2{font-size: 18px;font-weight: bold;padding-left: 10px;}
.theme1-m .theme1-text p{font-size: 14px;width: 320px;line-height: 1.5;padding-left: 10px;}
.theme1-m .more a{margin-left: 10px;}
/*主题二*/
.theme2{background: url(../img/li-l.jpg) no-repeat;padding-top:6%;padding-bottom: 6%;background-size: cover;min-width: 960px;margin: 0 auto;color: #fff;}
.theme1-text{max-width:960px;margin: 0 auto;}
.theme1-text h2{font-size: 42px;font-weight: bold;}
.theme1-text p{font-size: 18px;width: 380px;line-height: 1.5;}
.theme2 .more a{display: block;border-radius: 5px;padding: 8px 15px;background:rgba(9, 117, 117, 0.8);width: 120px;text-align: center;color: #fff;}
/*主题二移动端*/
.theme2-m{padding-top: 20px;}
.theme2-m .theme1-text{max-width:960px;margin: 0 auto;}
.theme2-m .theme1-text h2{font-size: 18px;font-weight: bold;padding-left: 10px;}
.theme2-m .theme1-text p{font-size: 14px;width: 320px;line-height: 1.5;padding-left: 10px;}
.theme2-m .more a{margin-left: 10px;}
/*主题 三*/
.theme3{background: url(../img/philips-watch-left-l.jpg) no-repeat;padding-top:6%;padding-bottom: 10%;background-size: cover;min-width: 960px;margin: 0 auto;text-align: right;color: #fff;}
.theme1-text{max-width:960px;margin: 0 auto;}
.theme3 .theme1-text h2{font-size: 42px;font-weight: bold;text-shadow: 2px 2px 2px #ccc;}
.theme3 .more a{display: block;border-radius: 5px;padding: 8px 15px;background: #1B6D85;width: 120px;text-align: center;color: #fff;float: right;}
/*主题三移动端*/
.theme3-m{padding-top: 20px;padding-bottom: 10px;}
.theme3-m .theme1-text{max-width:960px;margin: 0 auto;}
.theme3-m .theme1-text h2{font-size: 18px;font-weight: bold;padding-left: 10px;}
.theme3-m .more a{margin-left: 10px;}
/*注册*/
.reg{width: 100%;background: #efefef;}
.reg li i{color: #50ad0a;line-height: 1.7;}
.reg span{display: block;margin: 5px 0;}
.reg input{margin-bottom: 5px;}
.reg input[type="submit"]{display: block;}
.club{padding: 0;}
.club-box{background: url(../img/LM-MyPhilips-Banner.jpg) no-repeat;padding-top: 10%;padding-bottom: 48%;background-size: 100%;}
.club-box h2,.club-box h3{padding: 5px 10px;}
/*搜索*/
.search{background: #15a9d4;}
.search-box{max-width: 450px;padding:0 20px;}
.search-box form{position: relative;}
.search-icon{position: absolute;right: 5px;top: 10px;}
/*站点地图*/
.siteMap{background: #122B40;color: #fff;}
.siteMap h2{font-size: 24px;}
.siteMap li a{color: #fff;}
/*版权*/
.footer{background:-webkit-linear-gradient(top,#022573,#035086);}
.weibo{color: #15A9D4;margin-top: 20px;}
.weibo img{width: 30px;display: block;}
.weibo2{color: #15A9D4;margin-top: 50px;max-width: 87px;margin: 0 auto;text-align: center;}
.weibo2 img{display: inline-block;width: 30px;}
.footer-logo{width: 100px;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;}
.menus{width: 195px;margin:0 auto;margin-top: 30px;}
.copyrigt{text-align: center;}
.copyrigt ul{padding-top: 20px;}
.copyrigt li{display: inline-block;}
.copyrigt li a{color: #fff;padding: 0 5px;border-right: 1px solid #fff;}
.copyrigt li:last-child a{border: none;}
.copyrigt p{color: #fff;}
/*________________ 列表页 ___________________*/
.lefts{padding: 10px;}
.lefts .nav a{font-size: 18px;font-weight: bold;color:#022573}
.lefts .tab-pane{border:1px solid #ccc;border-top: none;padding: 10px;padding-bottom: 0;}
.lefts dl{border-bottom: 1px dashed #ccc;overflow: hidden;padding-bottom: 10px;}
.lefts dt{max-width: 200px;float: left;margin-right: 15px;}
.lefts h2{font-size: 16px;max-width:calc(100% - 200px);white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin: 0;margin-bottom: 10px;}
.lefts p{color:#5E5E5E;line-height: 1.7;}
.lefts .more a{float: right;background: #15A9D4;}
.rights h2{font-size: 18px;font-weight: bold;color:#022573;}
.listNews{width: 300px;box-shadow: 2px 2px 2px #ccc;overflow: hidden;padding: 10px;margin-bottom: 10px;}
.listNews h2{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-size: 16px;font-weight: normal;}
.listNews dt{width: 100px;float: left;margin-right: 10px;}
.rights .more a{float: right;background: #15A9D4;margin-right: 5px;width: 100px;padding: 5px 0;}
.paging{padding: 10px 0;}
.paging ul li{float: left;margin: 0 5px;background: #EFEFEF;}
.paging .active{background: #022573;}
.paging .active a{color: #fff;}
.paging ul li a{color: #022573;padding: 0 10px;text-decoration: none;}

/*________________ 详情页 ___________________*/
.banner{background: url(../img/ultrasound-l.jpg) no-repeat;background-size:cover;}
.detail-text{max-width: 960px;margin: 0 auto;padding-top: 5%;}
.detail-content h2{font-size: 16px;color: #333;margin-left: 10px;}
.detail-content h1{text-align: center;font-size: 18px;}
.d-info{border-bottom: 1px solid #ccc;overflow: hidden;margin:0 10px 10px 10px;}
.d-info p{float: left;}
.d-info .share{float: right;}

.detail-content .main{text-align: center;}
.detail-content .main img{max-width: 320px;}
.detail-content .main p{text-align: left;margin: 5px 0;padding-left: 10px;}
.page span{display: block;line-height: 1.6;}
.page span:last-child{background: #15A9D4;width: 110px;text-align: center;padding: 5px 0;}
.page span:last-child a{color: #fff;}

/*返回顶部*/
.backTop{width: 50px;height: 50px;background: rgba(128,128,128,0.6);border-radius: 5px;position: fixed;right: 5px;bottom: 10px;text-align: center;cursor: pointer;display: none;}
.backTop i{font-size: 28px;line-height: 50px;color:rgba(255,255,255,0.6) ;}

/*侧边栏分享*/
.sideBar{width: 50px;position: absolute;right: -50px;top: 60%;background: #fff;}
.sideBar p{width: 20px;background:#15A9D4;text-align: center;color:#fff;position: absolute;left: -20px;top: 35%;cursor: pointer;}
.sideBar .code{width: 140px;position: absolute;right: 50px;top:40px;border: 1px solid #1B6D85;display: none;}
.sideBar ul li:nth-child(2):hover .code{display: block;}
